.heroes-list{
    display: grid;
    grid-template-columns: 50% 50%;
    gap:10px;
    .thumbnail-wrapper {
        .mat-card-header {
            .mat-card-header-text {
                margin: 0;
            }
    
            .mat-card-title {
                font-size: 18px;
            }

            img{
                height: 250px;
            }
        }
    }
}
